{% extends 'music/base.html' %}
{% block title %}Song Detail{% endblock %}
{% load static %}
{% block body %}
<div class="container-fluid songs-container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="{% url 'music:detail' album.id %}">
                    <img src="{{ album.album_logo.url }}" class="img-responsive">
                </a>
                <h2>{{ album.album_title }}</h2>
                <h4>{{ album.artist }}</h4>
            </div>
        </div>
        <div class="col-sm=8  col-md-9">
            <ul class="nav nav-pills" style="margin-bottom:10px">
                <li role="presentation" class="active"><a href="{% url 'music:detail' album.id %}">View All</a></li>
                <li role="presentation"><a href="#">Add New Songs</a></li>
            </ul>
            <div class="panel">
                <h3>All Songs</h3>
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Audio File</th>
                        <th>Favourite</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Title</th>
                    </tr>
                    {% for song in album.song_set.all %}
                        <tr>
                            <td>{{song.song_title}}</td>
                            <td>{{song.song_title}}</td>
                            <td>{{song.song_title}}</td>
                            <td>{{song.song_title}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}c
